<<<<<<< HEAD
$brand-warning: #f8ad47;
$brand-primary: #53ccd7;
$brand-danger: #ff3956;

$btn-warning-color-dark: darken($brand-warning, 25%);
=======
$brand-warning: #f8ad47;
$brand-primary: #53ccd7;
$brand-danger: #ff3956;

$btn-warning-color-dark: darken($brand-warning, 25%);
>>>>>>> 49888e3 (update website)
$btn-danger-color-dark: darken($brand-danger, 25%);